<template>
  <h1>
        Page public

  </h1>
  <router-link to="/admin">Admin dashboard</router-link>
  <router-link to="/login">Login</router-link>
</template>

<script>
export default {

}
</script>

<style scoped>


</style>