<template>
    <div class="login">
        <div class="form-login">
            <p class="text-error" v-if="error">{{ error }}</p>
            <form @submit.prevent="login">
                <input type="text" placeholder="Email" v-model="form.email"/>
                <br/>
                <input type="password" placeholder="Password" v-model="form.password"/>
                <br/>
                <input class="submit" type="submit" value="SingIn"/>
            </form>
        </div>
    </div>
</template>

<script setup>
import {reactive, ref} from "vue";
import {useRouter} from "vue-router";

const router = useRouter();
let form = reactive({
    email: "",
    password: "",
});
const error = ref('');

const login = async () => {
    await axios.post("/api/login", form).then((response) => {
        if (response.data.success) {
            localStorage.setItem("token", response.data.data.token);
            router.push("/admin");
        } else {
            error.value = response.data.message;
            console.log(error)

        }
    });
};


</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
    font-size: 16px;
}

.login {
    background: #6c5ce7;
    padding: 0;
    margin: 0;
    widows: 100%;
    height: 100vh;
}

.form-login {
    display: flex;
    align-items: center;
    width: 22.8em;
    height: 55em;
    margin: 1em auto 0 auto;
    overflow: hidden;
}

input {
    background: rgba(228, 232, 243, 0.8);
    background-position: 0.5em 0.6em;
    border: none;
    color: rgba(80, 80, 80, 1);
    padding: 0 0 0 4rem;
    margin: 0 0 1em 0;
    width: 20em;
    height: 2.8em;
    outline: none;
    transition: background-color 0.4s;
}

input:hover {
    background-color: rgba(255, 255, 255, 255);
}

input:focus {
    background-color: rgba(255, 255, 255, 255);
}

.submit {
    color: rgba(35, 35, 35, 0.8);
    background: rgba(220, 220, 220, 1);
    padding: 0;
    margin: 2.5em 0 0 5em;
    width: 10em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.4s;
}

.submit:hover {
    background: #43467f;
    color: white;
}

.submit:focus {
    background: #43467f;
    color: white;
}

.text-error {
    color: red;
}
</style>
