<template>
    <div class="base">
        <Header />
        <sidebar />
    </div>
</template>

<script setup>
    import Header from "./Header.vue";
    import Sidebar from "./Sidebar.vue";
</script>

<style>
    @import "./base.css";
</style>
